.send-btn{
  position: absolute;
  right: 13px;
  top: -13px;
  padding: 6px;
}
.alert-content{
  margin: 15px;
}
#sourceImage{
  box-shadow: 5px 10px 18px #888888;
}
.category{
  position: absolute;
  right: 150px;
  top: 50px;
  font-size: 18px;
  font-weight: bold;
}
.title{
  font-size: 18px;
  font-weight: bold;
}
.dogbot-inputs{
  margin-top: 15px;
}